{% extends "chat/index.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="section" style="height: 80vh">
    <div class="row">
        <div class="col-3 s2">
        <div class="card">
            <div class="collection">
                {% for user in users %}
                
                {% if user.is_consultant %}
                <a href="{% url 'chat:chat' request.user.id user.id %}" id="user{{ user.id }}" class="collection-item row">
                    <img src="{{user.profileconsultant.image.url}}" class=" rounded-circle account-img col s3" height="50" >
                    <div class="col s8">
                    <span class="title" style="font-weight: bolder">{{user.profileconsultant.lastname }} {{user.profileconsultant.firstname }} {{user.profileconsultant.surname }}</span>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'chat:chat' request.user.id user.id %}" id="user{{ user.id }}" class="collection-item row">
                    <img src="{{user.profileuser.image.url}}" class=" rounded-circle account-img col s3" height="40" width="20">
                    <div class="col s8">
                    <span class="title" style="font-weight: bolder">{{user.profileuser.lastname }} {{user.profileuser.firstname }} {{user.profileuser.surname }}</span>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
        <div class="col s9">
            <div class="card">
            <div id="board" class="section grey lighten-3" style="height: 68vh; padding: 5px; overflow-y: scroll">
                {% block messages %}

                {% endblock %}
            </div>
            <form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-11">
                        <div class="input-field">
                            <input id="id_message" name="message" type="text" placeholder="Type your message..">
                        </div>
                    </div>
                    <div class="col s1" style="line-height: 80px">
                        <button class="btn btn-floating lighten-2 waves-effect waves-light" style="background-color: gray"><i class="material-icons">send</i></button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>
    {% load static %}
    <script src="{% static 'js/chat.js' %}"></script>
    <script>
        // For receiving
        sender_id = "{{ receiver.id }}";
        receiver_id = "{{ request.user.id }}";

        //For sending
        $(function () {
            scrolltoend();
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#id_message');
                send('{{ request.user.username }}', '{{ receiver.username }}', message.val());
                message.val('');
            })
        })
    </script>
{% endblock content %}